
R2_TOKEN_VALUE=EXAMPLE
R2_ACCESS_KEY_ID=EXAMPLE
R2_SECRET_ACCESS_KEY=EXAMPLE

// Use jurisdiction-specific endpoints for S3 clients:
// DefaultEuropean Union (EU)

// Account ID
R2_ACCOUNT_ID=EXAMPLE

// 
R2_URL=EXAMPLE
R2_PUBLIC_URL=EXAMPLE
R2_BUCKET_NAME=example

